[Desktop Entry]
Version=1.0
Name=BALLcoin Core
Comment=BALLcoin P2P Cryptocurrency
Comment[fr]=BALLcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BALLcoin, eşten eşe kriptografik sanal para birimi
Exec=ballcoin-qt %u
Terminal=false
Type=Application
Icon=ballcoin128
MimeType=x-scheme-handler/ballcoin;
Categories=Office;Finance;
StartupWMClass=Pivx-qt
