
## <summary>policy for ballcoin</summary>


########################################
## <summary>
##	Transition to ballcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ballcoin_domtrans',`
	gen_require(`
		type ballcoin_t, ballcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ballcoin_exec_t, ballcoin_t)
')


########################################
## <summary>
##	Execute ballcoin server in the ballcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ballcoin_initrc_domtrans',`
	gen_require(`
		type ballcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ballcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search ballcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ballcoin_search_lib',`
	gen_require(`
		type ballcoin_var_lib_t;
	')

	allow $1 ballcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ballcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ballcoin_read_lib_files',`
	gen_require(`
		type ballcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ballcoin_var_lib_t, ballcoin_var_lib_t)
')

########################################
## <summary>
##	Manage ballcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ballcoin_manage_lib_files',`
	gen_require(`
		type ballcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ballcoin_var_lib_t, ballcoin_var_lib_t)
')

########################################
## <summary>
##	Manage ballcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ballcoin_manage_lib_dirs',`
	gen_require(`
		type ballcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ballcoin_var_lib_t, ballcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a ballcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ballcoin_admin',`
	gen_require(`
		type ballcoin_t;
		type ballcoin_initrc_exec_t;
		type ballcoin_var_lib_t;
	')

	allow $1 ballcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, ballcoin_t)

	ballcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ballcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ballcoin_var_lib_t)

')

