policy_module(ballcoin, 1.100.1)

########################################
#
# Declarations
#

type ballcoin_t;
type ballcoin_exec_t;
init_daemon_domain(ballcoin_t, ballcoin_exec_t)

permissive ballcoin_t;

type ballcoin_initrc_exec_t;
init_script_file(ballcoin_initrc_exec_t)

type ballcoin_conf_t;
files_type(ballcoin_conf_t)

type ballcoin_var_lib_t;
files_type(ballcoin_var_lib_t)

type ballcoin_var_run_t;
files_type(ballcoin_var_run_t)

type ballcoin_port_t;
corenet_port(ballcoin_port_t)

########################################
#
# ballcoin local policy
#
allow ballcoin_t self:process { fork };

allow ballcoin_t self:fifo_file rw_fifo_file_perms;
allow ballcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(ballcoin_t, ballcoin_conf_t, ballcoin_conf_t)
manage_files_pattern(ballcoin_t, ballcoin_conf_t, ballcoin_conf_t)

manage_dirs_pattern(ballcoin_t, ballcoin_var_lib_t, ballcoin_var_lib_t)
manage_files_pattern(ballcoin_t, ballcoin_var_lib_t, ballcoin_var_lib_t)
files_var_lib_filetrans(ballcoin_t, ballcoin_var_lib_t, { dir file })

manage_dirs_pattern(ballcoin_t, ballcoin_var_run_t, ballcoin_var_run_t)
manage_files_pattern(ballcoin_t, ballcoin_var_run_t, ballcoin_var_run_t)

sysnet_dns_name_resolve(ballcoin_t)
corenet_all_recvfrom_unlabeled(ballcoin_t)

allow ballcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(ballcoin_t)
corenet_tcp_sendrecv_generic_node(ballcoin_t)
corenet_tcp_sendrecv_all_ports(ballcoin_t)
corenet_tcp_bind_generic_node(ballcoin_t)

gen_require(`
    type ballcoin_port_t;
')
allow ballcoin_t ballcoin_port_t:tcp_socket name_bind;

gen_require(`
    type ballcoin_port_t;
')
allow ballcoin_t ballcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(ballcoin_t)

files_read_etc_files(ballcoin_t)

miscfiles_read_localization(ballcoin_t)

sysnet_dns_name_resolve(ballcoin_t)

allow ballcoin_t ballcoin_exec_t:file execute_no_trans;
allow ballcoin_t self:process setsched;
corecmd_exec_ls(ballcoin_t)
corenet_tcp_connect_http_port(ballcoin_t)
dev_read_urand(ballcoin_t)
fs_getattr_xattr_fs(ballcoin_t)
kernel_read_system_state(ballcoin_t)
